html{
    width:100%;
    height:100%;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url(blackjack.jpg);
    background-size:cover;
    text-align:center;
    color:white;
}
h1{
    color:goldenrod;
}
#message-el{
    font-style:italic;
}
button{
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    padding:0.5rem;
    margin:0.15rem;
    font-weight:bold;
    border:none;
    border-radius:2px;
}
button:active{
    animation-name:coolButton;
    animation-duration:0.5s;
}

@keyframes coolButton{
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.21);
    }
    100%{
        transform: scaleY(1);
    }
    
}